<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      #app-header {
        padding-left: 16px;
      }
      #todo-form {
        margin-left: 40px;
      }
      .todo-list {
        max-width: 800px;
      }
      .todo-item {
        display: grid;
        grid-template-columns: auto 180px 80px;
        align-items: center;
        margin: 8px 0;
      }
    </style>
    <title>Todos 2026</title>
  </head>
  <body>
    <h1 id="app-header">Hello, <%= name %>!</h1>
    <ul class="todo-list">
      <% for (const todo of todos) { %>
      <li class="todo-item">
        <a href="/todo/<%= todo.id %>"><%= todo.title %></a>
        <a href="/toggle-todo/<%= todo.id %>">
          označit jako <%= todo.done ? "nehotové" : "hotové" %>
        </a>
        <% if (todo.done) { %>
        <a href="/remove-todo/<%= todo.id %>">odstranit</a>
        <% } %>
      </li>
      <% } %>
    </ul>
    <form id="todo-form" method="post" action="/add-todo">
      <input name="title" placeholder="Název" />
      <button type="submit">Přidat todo</button>
    </form>
  </body>
</html>
